@import "tailwindcss";

/* Satoshi Font */
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
       url('../fonts/Satoshi-Variable.woff') format('woff');
  font-weight: 300 900;
  font-display: swap;
}

body {
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: text-gray-950;
  background-color: bg-white;
}

@tailwindcss tailwindcss/preflight;
@tailwindcss utilities;

@layer base {

  h1 {
    @apply text-5xl font-medium;
  }
  
  h2{
    @apply text-4xl font-bold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl font-medium;
  }
  h5 {
    @apply text-xl font-normal;
  }
  h6 {
    @apply text-xl font-light;
    }

}

@layer components {
  .underline-animate {
    @apply relative;
    text-decoration: none;
  }
  
  .underline-animate::after {
    content: '';
    @apply absolute bottom-0 left-0 w-0 h-0.5 bg-current;
    transition: width 0.3s ease-in-out;
  }
  
  .underline-animate:hover::after {
    @apply w-full;
  }
}
